<!doctype html>

<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">

    <title>Go</title>
    <meta name="description" content="Go">
    <style>
span.black::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background-image: url("/images/blackpiece.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

span.white::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background-image: url("/images/whitepiece.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#board div {
  display: block;
  height: {{ piece_size }}vmin;
}

#board span {
  display: inline-block;
  height: {{ piece_size }}vmin;
  width: {{ piece_size }}vmin;
  background-size: {{ piece_size }}vmin; 
  background-image: url("/images/tilecenter.png");
  position: relative;
  z-index: 1;
}
    </style>
    <script>
const size = {{ size }};
let player = 'Black';

const events = new EventSource("events");
events.onmessage = function(event) {
  document.location.hash = JSON.parse(event.data).board;
}

let parseGame = function(input) {
  let parts = input.split(';');
  let player = 'Black';
  if(parts[3] == 'w') {
    player = 'White';
  }
  return {
    id: parts[0],
    size: parseInt(parts[1]),
    state: parts[2],
    player: player,
  }
}

window.onload = function() {
  let hash = document.location.hash;
  if(hash !== '') {
    let game = parseGame(hash)
    updateState(game);
    return;
  }
};

let updateState = function(game) {
  player = game.player;

  for (const [i, piece] of Object.entries(game.state)) {
    let tile = getTile(i % size, Math.floor(i / size));
    if(tile !== null) {
      if(piece == 'b') {
        tile.classList.add('black');
      } else if (piece == 'w') {
        tile.classList.add('white');
      } else {
        tile.classList.remove('white', 'black');
      }
    }
  }

}

window.onhashchange = function() {
  let message = document.location.hash.substring(1);
  let board = parseGame(message);
  updateState(board);
}

let getTile = function(x, y) {
  return getElementByXPath('//div[position()=' + (y + 1) + ']/span[position()=' + (x + 1) + ']');
}

let getElementByXPath = function(query) {
  return document.evaluate(query, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
}

let request = function(method, path, message, onload=null) {
  let httpRequest = new XMLHttpRequest();
  httpRequest.open(method, path, true);
  httpRequest.setRequestHeader('Content-Type', 'application/json');
  httpRequest.setRequestHeader('Accept', 'application/json');
  if(onload !== null) {
    httpRequest.onload = function() {
      let message = JSON.parse(this.responseText);
      onload(message);
    };
  }
  httpRequest.send(JSON.stringify(message));
}

let put = function(path, message, onload=null) {
  return request('PUT', path, message, onload);
}

let post = function(path, message, onload=null) {
  return request('POST', path, message, onload);
}

let placeTile = function(x, y) {
  let state = '';
  const tiles = document.evaluate('//div/span', document, null, XPathResult.ORDERED_NODE_ITERATOR_TYPE, null);
  while(tile = tiles.iterateNext()) {
    if (tile.classList.contains('black')) {
      state += 'b';
    } else if (tile.classList.contains('white')) {
      state += 'w';
    } else {
      state += '.';
    }
  }
  let gameBoard = '{{ game_id }};' + size + ';' + state + ';';
  if (player == 'White') {
    gameBoard += 'w';
  } else {
    gameBoard += 'b';
  }
  let place_piece_message = {board: gameBoard, coordinate: [x-1, y-1], stone: player, size};
  put('games', place_piece_message, function(message) {
    // document.location.hash = message.board;
  });
}
    </script>
  </head>
  <body style="height: 100%; margin: 0">
    <section style="display: flex; align-items: center; justify-content: center; height: 100%; padding: 0; margin: 0">
      <div id="game">
        <section id="board" style="height: 100%;">
          {{#each board_size as |y| ~}}<div>
              {{#each ../board_size as |x| ~}}<span onclick="placeTile({{x}}, {{y}})"></span>{{/each ~}}
            </div>
          {{/each ~}}
        </section>
      </section>
    </section>
  </body>
</html>
